bokeh==0.12.4
Flask-HTMLmin==1.2
Flask==0.12
flask-restplus==0.9.2
flask-cors==3.0.2
google-cloud==0.22.0
google-api-python-client==1.6.0
gunicorn==19.6.0
h5py==2.6.0
keras==1.2.1
lasio==0.11.2
numpy==1.12.0
pandas==0.19.2
plotly==1.13.0
pylint==1.6.5
scikit-learn==0.18.1
scipy==0.18.1
tables==3.3.0
tqdm==4.11.1
utm==0.4.1
pyproj==1.9.5.1